/*-- scss:defaults --*/

// colors
$dark_brown: #452316;
$pumpkin: #f6850a;
$peach: #ecc498;
$stone: #846464;
$marshmallow: #fcefeb;
$bright: #b65c5cff;
$brightlight: #b65c5c30;
$black: #000;
$white: #fff;
$lightgrey: #ededed;
$stonelight: #84646420;

// Quarto Sass Variables
$body-bg: $brightlight;
$navbar-bg: $dark_brown;
$navbar-fg: $pumpkin;
$navbar-hl: $marshmallow;
$toc-color: $pumpkin;
$code-block-bg: $stonelight;
//$code-block-bg-alpha: 0.90;

//$code-bg: $stone;
//$code-color: $marshmallow;

//$monobackgroundcolor: $marshmallow;

$body-color: $black;
$input-bg: $stone;

h1, h2 {
  letter-spacing: 2px;
  font-weight: 800; // Google fonts tells you which weights your chosen font family allows for!
}

.title{
  color: $peach;
}

.center-text {
  text-align: center;
}

.white-text {
  color: $marshmallow;
}

.navbar-brand img { 
  max-height: 60px;
  width: auto;
}

